.enviar {
	width: 30%;
	padding: 15px 0;
	background: black;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: red;
}